html{
    background-color: rgba(0, 0, 0, 0.644);
}
body {
font-family: Arial;
}
.botao{
    background-color: rgb(73, 18, 100);
    padding: 10px 25px;
    border-radius: 6px;
    color: rgb(247, 247, 247);
    text-decoration: none;
}
